<%= provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To use the Twitter Clone, create a profile and signup.  Browse through other users and 'follow' them, and their posts will be shown in your feed.
</p>
<p>
  Feel free to view the source code 
  <a href="https://github.com/john-winslow/rails-twitter-clone">here</a>.
</p>
